h1 About Mochify
hr
div(ng-controller="AboutCtrl")
  .row-fluid
    .col-md-6
      h4 Mochify Infos
      dl.dl-horizontal
        div(ng-repeat="(key, value) in infos")
          dt {{ key }}
          dd {{ value }}

      h4 Mochify Dependencies
      dl.dl-horizontal
        div(ng-repeat="(key, value) in dependencies")
          dt {{ key }}
          dd {{ value }}
    .col-md-6
      h4 License
      .well.small
        | ###
        br
        | # Copyright (c) 2014 Ninevillage. 
        br
        | # All Rights reserverd.
        br
        | # 
        br
        | # This software is the confidential intellectual property of Ninevillage;
        br
        | # Unauthorized copying of this file, via any medium is strictly prohibited.
        br
        | # Proprietary and confidential
        br
        | ###
        br