div(ng-app='ng-app')
  div(ng-controller='ProjectsCtrl')
    .row-fluid
      .span12
        table.table.table-hover.table-bordered.table-striped
          thead
            tr
              th # 
              th Directory
              th Tests
              th successful run
          tbody
            tr(ng-repeat="project in projects")
              td {{ project.id }}
              td {{ project.directory }}
              td {{ project.tests }}
              td {{ project.successed }}