div(ng-controller="SettingsCtrl")
  ul.nav.nav-tabs#settings-tab
    li.active
      a(href="", data-toggle='general') General
    li
      a(href="", data-toggle='projects') Projects
    li
      a(href="", data-toggle='testing') Testing
    li
      a(href="", data-toggle='extras') Extras
  .tab-content
    .tab-pane#general
      | ....
  .tab-content
    .tab-pane#projects
      | ....
  .tab-content
    .tab-pane#testing
      | ....
  .tab-content
    .tab-pane#extras
      | ....
